.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .logo {
    order: 1;
    //padding-right: 10px;

    flex-grow: 1;
    flex-basis: 0;

    @media (max-width: $medium) {
      text-align: center;
      width: 100%;
    }

    .flags {
      margin-top: -20px;
      margin-left: 5px;
    }
  }

  .fronttitle {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 50pt;

    order: 2;

    text-align: center;

    width: 100%;

    @include breakpoint($medium) {
      font-size: 70pt;
      width: initial;
    }

    @include breakpoint($large) {
      font-size: 70pt;
    }
  }

  .title {
    font-family: 'Lily Script One', cursive;
    font-size: 28pt;

    order: 2;

    text-align: center;

    width: 100%;

    @include breakpoint($medium) {
      font-size: 28pt;
      width: initial;
      //margin-top: 30px;
    }

    @include breakpoint($large) {
      font-size: 28pt;
    }
  }

  .initial {
    flex-basis: 0;
    order: 3;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 60pt;

    text-align: right;

    display: none;

    @include breakpoint($large) {
      flex-grow: 1;
      display: block;
    }
  }

  .dateribbon {
    margin-bottom: 10px;
    margin-top: 0;

    order: 4;

    text-align: center;

    width: 100%;

    z-index: -1;

    @include breakpoint($medium) {

    }

    @include breakpoint($large) {
      margin-left: 30px;
      margin-top: -20px;
      //order: 2;
      //width: initial;
    }
  }
}



.ribbon {
  background-image: url('../images/ribbon.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 41px;

  @include breakpoint($medium) {
    background-repeat: repeat;
  }
}
