.region {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: 20px;

  div {
    width: 33%;
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: -10px;
  }

  img {
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;

    width: 100%;
  }

  :hover {
    filter: initial;
    transition: 0.3s;
  }

  .selected img {
    filter: initial;
  }

  @include breakpoint($medium) {
    p {
      font-size: 20pt;
    }
  }

  @include breakpoint($large) {
    div {
      width: 300px;
    }
  }
}

.transport {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;;
  align-items: flex-end;

  margin-top: 40px;

  div {
    width: 20%;
    text-align: center;
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
  }

  :hover {
    filter: initial;
    transition: 0.3s;
  }

  .selected img {
    filter: initial;
  }

  @include breakpoint($medium) {
    p {
      font-size: 20pt;
    }
  }

  @include breakpoint($large) {
    div {
      width: 150px;
    }
  }
}

.instruction {
  display: none;
}

.instruction.shown {
  display: block;
}
