
.menu {
  display: flex;
  flex-wrap: wrap;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  a:hover {
    color: $fuchsia;
  }

  @include breakpoint($medium) {
    > :nth-child(3n+1) {
      border-right: 2px dashed $fuchsia;
      margin-right: -2px;
    }

    > :nth-child(3n+2) {
      border-right: 2px dashed $fuchsia;
      margin-right: -2px;
    }
  }

  .menuitem {
    border-bottom: 2px dashed $fuchsia;

    display: flex;

    flex-grow: 1;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50px;

    .menuimage {
      width: 64px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        max-width: 64px;
      }
    }

      > :nth-child(3n+0) {
        margin-right: 20px;

        @include breakpoint($medium) {
          margin-right: 5px;
        }

        @include breakpoint($large) {
          margin-right: 20px;
        }
      }

      > :nth-child(3n+1) {
        margin-left: 20px;

        @include breakpoint($medium) {
          margin-left: 5px;
        }

        @include breakpoint($large) {
          margin-left: 20px;
        }
      }

    @include breakpoint($at-medium) {
      :nth-child(3n+0) {
        display: none;
      }
    }

    @include breakpoint($medium) {
      justify-content: space-between;

      width: 33%;
      height: 60px;
    }
  }

  p {
    margin: 0;
    text-align: center;
    width: 100%;

    margin-right: 0px;

    @include breakpoint($medium) {
      margin-right: 15px;
    }

    @include breakpoint($large) {
      margin-right: 0px;
    }
  }

  .menuwide {
    justify-content: space-between;
    border-right: initial;
    flex-grow: 1;
    width: 100%;
  }

  .borderright {
    border-right: 2px dashed $fuchsia;
    margin-right: -2px;
  }

  .borderbottom {
    border-bottom: 2px dashed $fuchsia;
  }

}

.closablemenu {
  .menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
  }

  #openmenu {
    display: none;
  }

  #openmenu:checked ~ .menu {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

  label {
    height: 20px;
    display: block;

    background-image: url('../images/menu_down.png'), url('../images/menu_down.png');
    background-position: center, center;
    background-repeat: no-repeat;

    margin-top: 4px;
    margin-bottom: 4px;

    cursor: pointer;

    @include breakpoint($medium) {
      background-position: left, right;
    }
  }

  #openmenu:checked ~ label {
    transform: rotate(180deg);
  }
}
