.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  img {
    width: 100%;
    height: 100%;

    @include breakpoint($medium) {
      width: 487px;
    }
  }
}

.photo-group.hidden {
  display: none;
}

.album_button {
  margin-top: 20px;
  margin-bottom: 20px;
}
