#receipts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .receipt {
    width: 100%;

    p, h2, h3, h4, img {
      padding-left: 10px;
      padding-right: 10px;
    }

    img {
      float: right;
    }

    @include breakpoint($medium) {
      width: 50%;
    }

    border-bottom: 2px dashed $fuchsia;
  }

  > :nth-child(odd) {
    @include breakpoint($medium) {
      border-right: 2px dashed $fuchsia;
      margin-right: -2px;
    }
  }

  > {

  }

  h1 {
    font-family: 'Lily Script One', cursive;
    width: 100%;
    text-align: center;
    font-weight: 300;
  }
}
