.venue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-family: 'Lily Script One', cursive;
    width: 100%;
    text-align: center;
  }

  p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  img {
    width: auto;
    max-height: 200px;
  }

  @include breakpoint($medium) {
    justify-content: space-between;
  }
}
