.wheretostay {
  display: flex;

  .images {
    display: flex;
    justify-content: space-between;

    @include breakpoint($medium) {
      flex-direction: column;
    }

    div {
      text-align: center;
    }
  }

  .text {
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
  }

  flex-direction: column;
  @include breakpoint($medium) {
    flex-direction: row;
  }
}
