@import 'fonts';

@import 'breakpoint';

// font-family: 'Lovers Quarrel', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Lily Script One', cursive;

$fuchsia: #f91897;
$gold: #d8a447;
$silver: #9e9e9e;

// Breakpoints
$large: 975px;
$medium: 650px;
$at-medium: 650px 975px;
$small: 325px;

.wrapper {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  margin: 0 auto;

  width: 100%;

  @include breakpoint($medium) {
    width: $medium;
  }

  @include breakpoint($large) {
    width: $large;
  }

  a {
    color: inherit;
  }

  a:hover {
    color: $fuchsia;
  }

  footer {
    text-align: center;
    font-size: 10pt;
    color: #555;
    opacity: 0.4;
    transition: opacity 0.3s;
    transition-timing-function: ease-in-out;
    margin-top: 1em;
  }

  footer.frontpage {
    margin-top: 60px;
  }

  footer:hover {
    opacity: 1;
  }
}

@import 'header';

@import 'menu';

.frontimages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-around;

  padding-top: 10px;
  padding-bottom: 20px;

  div {
    padding: 5px;
    img {
      height: 150px;
    }
  }
}

.schedule {
  display: flex;
  flex-wrap: wrap;

  border-top: 2px dashed $fuchsia;

  h1 {
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 12pt;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    margin: 0;

    border-bottom: 2px dashed $fuchsia;
  }

  .scheduleitem {
    height: 60px;
    text-align: center;

    width: 25%;

    p {
      margin: 0;
    }

    .coeur {
      margin-top: -12px;
    }
  }
}

.column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  width: 100%;

  .wide {
    flex-grow: 1;
  }
  .narrow {
    flex-basis: 0;
  }

  @include breakpoint($medium) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.center {
  text-align: center;
}

.wedding {
  text-align: center;
  ul {
    list-style-position: inside;
  }

  .address {
    display: inline-block;
    position: relative;

    max-width: 300px;
    width: 100%;

    margin-bottom: 40px;

    .envelope {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url('../images/envelope_small.jpg');
      background-size: contain;
      background-repeat: no-repeat;

      address {
        position: absolute;
        text-align: left;
        padding-bottom: 20px;
        padding-right: 20px;
        bottom: 0;
        right: 0;
      }
    }
  }
  .address:after {
    display: block;
    content: '';
    padding-top: 55.25%;
  }

  .close-to-text {
    margin-bottom: -20px;
  }

  .temoins {
    display: inline-block;
    text-align: left;
    margin-top: -20px;
  }
}

img.view {
  cursor: pointer;
}

a.button {
  background-color: $silver;
  border-color: $gold;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.3em;
  border-width: 4px;
  border-style: solid;
  font-family: 'Lily Script One', cursive;
  font-size: 18pt;
}

a.button:hover {
  color: initial;
  background-color: $gold;
  border-color: $silver;
}

.storyItem {
  margin-top: 40px;
}

.storyItem.hidden {
  display: none;
}

.story {
  display: block;
  position: relative;
  // width: 975px;
  // height: 305px;
  width: 100%;
  background-image: url('../images/story.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.story:after {
  display: block;
  content: '';
  padding-top: 35%;
}

.storylink {
  display: block;
  position: absolute;

  height: 100%;
  border-radius: 45%;

  top: 0;
  bottom: 0;
}

a.storylink:hover {
  border: 2px dashed $gold;
}

a.storylink.active {
  border: 2px dashed $fuchsia;
}

// Link position and size

a#link2004 {
  left: -1.65%;
  width: 13%;
}

a#link2004-2 {
  left: 10.7%;
  width: 13%;
}

a#link2005 {
  left: 23.5%;
  width: 13%;
}

a#link2007 {
  left: 35.6%;
  width: 13%;
}

a#link2008 {
  left: 48%;
  width: 13%;
}

a#link2011 {
  left: 60.8%;
  width: 13%;
}

a#link2013 {
  left: 73%;
  width: 13%;
}

a#link2016 {
  left: 85.5%;
  width: 13%;
}

@import "howtocome";

@import "venue";

@import "wheretostay";

@import "lity";

@import "receipts";

@import "photos";
