<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <meta name="google-site-verification" content="836gAjWR_RFAB80L-9NeDuugZjqDTjcsixhfu3gV-Ro" />

  <title>Mariage d'Emilie et Arnaud</title>
  <%= stylesheet_link_tag 'styles' %>
  <%= favicon_tag 'images/favicon.png' %>

  <% if build? %>
    <script>
      if (location.protocol != 'https:')
      {
        location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
      }
    </script>
  <% end %>
</head>
<body>
  <div class="wrapper">
    <!-- Header -->
    <div class="header">
      <div class="logo">
        <a href="./"><%= image_tag 'us.png' %></a>
        <div>
          <%= image_tag 'flags.png', :class => "flags", :usemap => "#flagsMap" %>
          <map name="flagsMap" id="flagsMap">
            <area alt="" title="" href="<%= path current_path, :lang => 'fr' %>" shape="poly" coords="0,0,0,40,38,40,52,0" />
            <area alt="" title="" href="<%= path current_path, :lang => 'en' %>" shape="poly" coords="52,0,38,40,93,40,79,0" />
            <area alt="" title="" href="<%= path current_path, :lang => 'se' %>" shape="poly" coords="79,0,93,40,133,40,133,0" />
          </map>
        </div>
      </div>
      <div class="fronttitle">
        <%= t("emilie et arnaud") %>
      </div>
      <div class="initial">

      </div>
      <div class="dateribbon">
        <%= image_tag "date_#{current_page.options[:locale]}.svg" %>
      </div>
    </div>



    <div class="ribbon"></div>

    <%= partial "menu" %>

    <%= yield %>

    <footer class="frontpage">
      Site version:
      <a href="https://gitlab.com/ataffanel/website-mariage/commit/<%= git_version %>">
        <%= git_version[0..8] %>
      </a>
    </footer>

  </div>

  <%= javascript_include_tag 'zepto' %>
  <%= javascript_include_tag 'lity' %>
  <%= javascript_include_tag 'application' %>
  <% if build? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98265230-1', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
