# Baguette

## Ingrédients
 - 500 g de farine de blé
 - 350 g d’eau tiède
 - 12 g de sel
 - 1 sachet de levure fraîche

<%= image_tag 'baguettes.png' %>

## Préparation
Délayer la levure fraîche dans un verre d'eau tiède.

Mélanger la farine (tamisée) et le sel dans un grand saladier.

Ajouter la levure (avec son eau).

Ajouter le reste de l'eau tiède et mélanger soigneusement jusqu’à obtenir une pâte assez collante.

Recouvrir d'un linge humide et laisser lever une heure à une heure trente.

Verser délicatement la pâte sur une surface farinée et fariner légèrement le dessus du pâton.

Etirer la pâte à gauche et à droite puis la replier en portefeuille.

Recommencer cette étape 4 à 5 fois.

Façonner avec douceur deux baguettes.

Couvrir et laisser reposer pendant 20 minutes.

Pendant ce temps, préchauffer le four à 240°C et mettre un peu d’eau dans le lèche-frites.

Ensuite, saupoudrer les baguettes de farine pour faire joli et inciser la pâte en biais à l'aide d'un couteau.

Baisser la température du four à 220°C et faire cuire les baguettes 15 à 20 minutes.
