# Baguette

## Ingredients
 - 500 g of wheat flour
 - 350 g of warm water
 - 12 g of salt
 - 1 bag of fresh yeast

<%= image_tag 'baguettes.png' %>

## Preparation
Mix the fresh yeast in a glass of warm water.

Mix the flour and salt in a large bowl.

Add the yeast (with water).

Then, add the rest of the warm water and mix thoroughly until you get a sticky paste.

Cover with a damp cloth and let rise for an hour to an hour and a half.

Carefully pour the dough over a floured surface and lightly flour the top of the dough.

Stretch the dough left and right and fold like a wallet to push the air out.

Repeat this step 4 to 5 times.

Shape the dough in two baguettes.

Cover and let rest for 20 minutes.

Meanwhile, put some water in a small pot in the oven and preheat it to 240° C.

Then sprinkle the baguettes with flour (to make them look pretty) and incise the dough with a knife.

Reduce oven temperature to 220° C and cook the dough for 15 to 20 minutes.

Once cooked, leave them to cool, preferably on a grid.

Enjoy.
