# <%= t("caramel") %>

## Ingrédients
 - 160 g de sucre de canne
 - 80 g de beurre demi-sel
 - 20 cl de crème fleurette

<%= image_tag 'caramel.png' %>

## Préparation
Faire chauffer le sucre dans une casserole sur feu moyen pendant 3 à 4 minutes pour obtenir un caramel à sec.

Une fois que le sucre est transformé en un liquide ambré, retirer la casserole du feu.

Ajouter la crème petit à petit.

Remuer sans interruption.

Quand il n'y a plus de bouillons, ajouter le beurre et remuer à nouveau jusqu'à consistance d'une crème moyennement liquide.

Si la crème ne semble pas assez épaisse, remettre la casserole à feu doux et remuer jusqu'à ce que la crème épaississe.

Verser la préparation dans un bocal en verre. A conserver au frais.

Déguster froid.
