# <%= t("caramel") %>

## Ingredient
 - 160 g of brown cane sugar
 - 80 g of salted butter
 - 20 cl of liquid cream

<%= image_tag 'caramel.png' %>

## Preparation
Heat the sugar in a pan on medium heat for 3 to 4 minutes to obtain a dry caramel.

Once the sugar is turned into an amber liquid, remove the pan from the heat.

Add the cream little by little.

Stir continuously.

Then add the butter and stir again until the consistency of a mid-liquid cream.

If the cream does not look thick enough, put the pan on low heat and stir until the cream thickens.

Pour the mixture into a glass jar. Store in a cool place.

Taste cold.
