Si vous avez besoin de nous contacter, vous pouvez:


<%= image_tag "telephone.png", :width => "33px" %>  nous appeler au :
<%= image_tag "emilie.jpg", :width => "40px" %> 00 46 7 00 46 98 71 ou <%= image_tag "arnaud.png", :width => "40px" %> 00 46 7 63 20 62 27

<%= image_tag "email.png", :width => "25px" %>  nous envoyer un mél à : [mariage@arnaudetemilie.fr](mailto:mariage@arnaudetemilie.fr)

<%= image_tag "igloo.png", :width => "25px" %>  nous écrire à l'adresse suivante :
<div class="address">
  <div class="envelope">
    <address>
      möllevångsgatan 24B<br>
      214 20 Malmö<br>
      Suède
    </address>
  </div>
</div>

<%= image_tag "temoins.png", :width => "200px", :class => "close-to-text" %>

Si vous préférez contacter nos témoins, vous pouvez écrire à :
<div class="temoins">
<ul>
  <li>Florent : <a href="mailto:f.taffanel@gmail.com">f.taffanel@gmail.com</a></li>
  <li>Marcus : <a href="mailto:marcus.c.eliasson@gmail.com">marcus.c.eliasson@gmail.com</a></li>
  <li>Vanessa : <a href="mailto:vanessa.bajart@gmail.com">vanessa.bajart@gmail.com</a></li>
  <li>Marion : <a href="mailto:marion.desroches@gmail.com">marion.desroches@gmail.com</a></li>
</ul>
</div>
