# Crêpes

## Ingredient
 - 3 eggs
 - 300 g of flour
 - 60 ml of milk
 - 2 tablespoons of oil
 - 2 tablespoons of water
 - 1/2 glass of beer or some rum (optional)

<%= image_tag 'crepe.png' %>

## Preparation
In a bowl, mix the flour and half of the milk.

Add the eggs one by one, mixing with a whisk.

Pour the rest of the milk, water, oil and alcohol and mix carefully.

Let the dough rest about 30 min.

Cook in a hot pancake pan (about 3 minutes on each side).

Enjoy.
