# Crêpes

## Ingrédients
  - 3  oeufs
  - 300 g de farine
  - 60 ml de lait
  - 2 cuillères à soupe d'huile
  - 2 cuillères à soupe d'eau
  - 1/2 verre de bière ou une rasade de rhum (facultatif)

<%= image_tag 'crepe.png' %>

## Préparation
Dans un saladier, mélanger la farine et la moitiée du lait.

Rajouter les oeufs un à un en battant avec un fouet.

Délayer avec le reste du lait, l'eau, l'huile et l'alcool.

Laisser reposer environ 30 min.

Faite cuire dans une poêle à crêpes bien chaude (environ 3 minutes sur chaque face).

Déguster.
