# <%= t("hazelnuts") %>

## Ingredient
  - 100 g of praline chocolate
  - 80 g of black chocolate
  - 130 g of concentrated milk
  - 35 g of milk

<%= image_tag 'hazelnuts.png' %>

## Preparation
Melt the black chocolate and the praline chocolate with soft heat in a saucepan.

When the chocolate is almost melted, add the concentrated milk and the milk.

Stir for about 10 minutes until the cream thicken.

Pour in a glass jar and let it cool down.

Déguster.
