# <%= t("hazelnuts") %>

## Ingrédients
  - 100 g de chocolat au praliné
  - 80 g de chocolat noir
  - 130 g de lait concentré sucré
  - 35 g de lait

<%= image_tag 'hazelnuts.png' %>

## Préparation
Faire fondre à feu doux le chocolat noir et le chocolat au praliné dans une casserole.

Lorsque le chocolat a presque fondu, ajouter le lait concentré et le lait.

Remuer jusqu'à épaississement de la crème (pendant environ 10 minutes).

Transvaser dans un pot en verre et laisser refroidir.

Déguster.
