På vår bröllopsresa vill vi åka på en transatlantisk kryssning !

<div class="center">
<%= image_tag "bateau2.jpg", :height => "150px" %>
<%= image_tag "bateau1.jpg", :height => "150px" %>
</div>

Det är inte en ny idé, vi funderade på det redan för 10 år sedan efter får kryssning i medelhavet.

Denna gången kommer vi att gå ombord i Southampton (England) den 29:e oktober och vi anländer i Miami (Florida) den 13:e November.
Vi kommer att resa på ett gigantiskt shepp: The Independance of the seas (from Royal Caribbean).
På skeppet kommer det att finnas massor av intressanta och roliga aktiviteter: Vägg klättring, minigolf, surtning, skridskoåknings show, middagsunderhållning ...

<div class="center">
<%= image_tag "bateau_escalade.jpg", :width => "200px", :class => "view" %> <%= image_tag "bateau_piscine.jpg", :height => "150px", :class => "view" %> <%= image_tag "bateau_show.jpg", :height => "150px" %> <%= image_tag "bateau_surf.jpg", :height => "150px", :class => "view" %>
</div>

Efter 9 dagars kryssning över Atlanten kommer vi att göra åtskilliga stop i Karibien.

Vi besöker först Philipsburg (Saint Martin), Basseterre (Saint-Christophe-et-Niévès), sen Charlotte Amalie (Virgin island), San Juan (Puerto Rico) and sist Labadee (Haiti).

<div class="center">
<%= image_tag "carte_croisiere.jpg", :width => "300px", :class => "view" %>
</div>

Väl i Miami kommer vi att spendera en vecka i "the sunny state".
Vi kan såklart inte lämna Florida utan att besöka Kennedy Space Center, se mangrove träsket och sjökor.

<div class="center">
<%= image_tag "Floride_3.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_1.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_4.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_2.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_5.jpg", :height => "150px", :class => "view" %>
</div>

Om du vill bidra till vår bröllopsresa kan du se gåvo- och aktivitetslistan på länken nedan:

<div class="center">
<a href="https://www.millemercismariage.com/emilieetarnaud/liste.html" class="button">Vår brölloppslista</a>
</div>

&nbsp;
