For our honeymoon trip, we are dreaming about a transatlantic cruise !

<div class="center">
<%= image_tag "bateau2.jpg", :height => "150px", :class => "view" %>
<%= image_tag "bateau1.jpg", :height => "150px", :class => "view" %>
</div>

We got this idea ten years ago, after our first cruise in Mediterranean sea.
The cruise ship would be the Independance of the seas (from Royal Caribbean).
It will depart from Southampton (England) on October 29<sup>th</sup> and will travel to Fort Lauderlade (Florida) until November 13<sup>th</sup> 2017.
This gigantic ship offers lots of interesting and funny activities: climbing wall, mini golf, surf, iceskating show, diner-show...


<div class="center">
<%= image_tag "bateau_escalade.jpg", :width => "200px", :class => "view" %> <%= image_tag "bateau_piscine.jpg", :height => "150px", :class => "view" %> <%= image_tag "bateau_show.jpg", :height => "150px", :class => "view" %> <%= image_tag "bateau_surf.jpg", :height => "150px", :class => "view" %>
</div>

After nine days only for crossing the Atlantic ocean, the boat will do several stops in the Caribbeans.
First, it will anchor in Philipsburg (Saint Martin), Basseterre (Saint-Christophe-et-Niévès), then Charlotte Amalie (Virgin island), San Juan (Puerto Rico) and finally Labadee (Haiti).

<div class="center">
<%= image_tag "carte_croisiere.jpg", :width => "300px", :class => "view" %>
</div>

We could not leave Fort Lauderlade without spending a week in "the sunny state" in order to visit the Kennedy Space center, to see the mangrove swamp and manatees...

<div class="center">
<%= image_tag "Floride_3.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_1.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_4.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_2.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_5.jpg", :height => "150px", :class => "view" %>
</div>

If you wish to participate to our honey moon trip, you can see bellow the list for activities and gifts:

<div class="center">
<a href="https://www.millemercismariage.com/emilieetarnaud/liste.html" class="button">Our wedding list</a>
</div>

&nbsp;
