Pour notre voyage de noces, nous avons décidé de réaliser notre rêve : emprunter une croisière transatlantique.

<div class="center">
<%= image_tag "bateau2.jpg", :height => "150px", :class => "view" %>
<%= image_tag "bateau1.jpg", :height => "150px", :class => "view" %>
</div>

Nous avons ce souhait depuis près de 10 ans suite à notre première croisière, dans les îles grecques.
Nous avons jeté notre dévolu sur l'Independance of the seas. Ce superbe paquebot quittera Southampton (Angleterre) le 29 octobre prochain et rejoindra Fort Lauderlade (Floride) le 13 novembre.
Sur le navire, il y aura un large choix de divertissements : mur d'escalade,
simulation de surf, mini golf, spectacle sur glace, dîner-spectacle...

<div class="center">
<%= image_tag "bateau_escalade.jpg", :width => "200px", :class => "view" %> <%= image_tag "bateau_piscine.jpg", :height => "150px", :class => "view" %> <%= image_tag "bateau_show.jpg", :height => "150px", :class => "view" %> <%= image_tag "bateau_surf.jpg", :height => "150px", :class => "view" %>
</div>

Après neuf jours uniquement consacrés à la traversée de l'océan Atlantique, le bateau fera escales dans les Caraïbes.
Il s'arrêtera à Philipsburg (Saint Martin), Basseterre (Saint-Christophe-et-Niévès),
puis à Charlotte Amalie (îles Vierges), San Juan (Puerto Rico) et enfin à Labadee (Haïti).

<div class="center">
<%= image_tag "carte_croisiere.jpg", :width => "300px", :class => "view" %>
</div>

Une fois arrivés en Floride, nous souhaiterions nous accorder une semaine pour découvrir cet état.
Nous n'imaginons pas passer à côté du Kennedy Space center, des mangroves, des lamantins...

<div class="center">
<%= image_tag "Floride_3.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_1.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_4.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_2.jpg", :height => "150px", :class => "view" %> <%= image_tag "Floride_5.jpg", :height => "150px", :class => "view" %>
</div>

Si vous souhaitez participer à notre voyage de noces, vous pouvez consulter, ci-dessous, la liste des activités
et cadeaux.


<div class="center">
<a href="https://www.millemercismariage.com/emilieetarnaud/liste.html" class="button">Notre liste de mariage</a>
</div>

&nbsp;
