<div class="menu">
  <%= partial :menuitem, :locals => { :text => t("notre histoire"),
                                      :link => 'ourstory.html',
                                      :image1 => 'story1.png',
                                      :image2 => 'story2.png'} %>

  <%= partial :menuitem, :locals => { :text => t("comment venir"),
                                      :link => 'howtocome.html',
                                      :image1 => 'venir1.png'} %>

  <%= partial :menuitem, :locals => { :text => t("les lieux"),
                                      :link => 'venue.html',
                                      :image1 => 'lieu3.jpg',
                                      :image2 => 'lieu4.jpg'} %>


  <%= partial :menuitem, :locals => { :text => t("ou dormir"),
                                      :link => 'wheretostay.html',
                                      :image1 => 'dormir1.png',
                                      :image2 => 'dormir2.png'} %>

  <%= partial :menuitem, :locals => { :text => t("nous contacter"),
                                      :link => 'contact.html',
                                      :image2 => 'contact_pigeon_mini.png'} %>

  <%= partial :menuitem, :locals => { :text => t("notre voyage"),
                                      :link => 'honeymoon.html',
                                      :image1 => 'voyage1.png',
                                      :image2 => 'voyage2.png'} %>


  <% if current_page.options[:layout] == "frontpage" %>
    <%= partial :menuitem, :locals => { :text => t(:yummy),
                                        :link => "yummy.html",
                                        :wide => true} %>
  <% end %>

  <%= partial :menuitem, :locals => { :text => 'Photos',
                                      :link => "photos.html",
                                      :wide => true,
                                      :image1 => 'schedule_photo.png',
                                      :image2 => 'schedule_photo.png'} %>
</div>
