.menuitem{class: ("menuwide" if locals[:wide])}
  .menuimage
    - if locals[:image1]
      = image_tag locals[:image1]
  %a{:href => locals[:link]}
    %p= locals[:text]
  .menuimage
    - if locals[:image2]
      = image_tag locals[:image2]
