Si vous souhaitez dormir à proximité du moulin après la soirée, il y a un hôtel à distance de marche (dix ou quinze minutes). <br>
L'hôtel "Première avenue" est situé en face de la gare de RER de Boussy saint Antoine. C'est un hôtel très simple, sans fioriture mais
idéalement placé et économique. <br>
Comme il est situé en face de la gare demandez une chambre qui donne sur l'autre côté (sur le supermarché) pour plus de calme.

Adresse: <br>
8 Rue des 2 communes <br>
91480 Quincy-sous-Sénart <br> 
France

[Site internet](http://www.1ere-avenue.com/) ou [centrale de réservation (parfois moins cher)](http://www.booking.com/hotel/fr/1ere-avenue-val-senart.fr.html).

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2634.288882960086!2d2.5330216299082062!3d48.68084123040683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e21cd04cc629%3A0x7c28d3d9f0fadf40!2s1Ere+Avenue!5e0!3m2!1sen!2sse!4v1490533271303" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>



Il y a quelques autres hôtels à proximité mais vous ne pourrez y accéder qu'en voiture.
En voici une liste non exhaustive. Nous ne les connaissons que de nom.

 * [B&B Hôtel Lieusaint Carré Sénart](http://www.hotel-bb.com/fr/hotels/lieusaint-carre-senart.htm)
 * [Hôtel A La Grâce De Dieu à Brie Comte Robert](http://www.alagracededieu.com/)
 * [Campanile Brie-Comte-Robert](https://www.campanile.com/fr/hotels/campanile-brie-comte-robert)
 * [ibis budget Santeny](http://www.ibis.com/fr/hotel-2347-ibis-budget-santeny/index.shtml)
 * [Novotel Senart Golf De Greenparc](http://www.novotel.com/fr/hotel-1783-novotel-senart-golf-de-greenparc/index.sh)
