---
title: comment venir
---

<div class="region">
  <p><%= t("ou partez vous") %></p>

  <div id="france"><%= image_tag 'france.png' %></div>
  <div id="sweden"><%= image_tag 'sweden.png' %></div>
  <div id="world"><%= image_tag 'world.png' %></div>
</div>

<div class="transport">
  <p><%= t("comment venez vous") %></p>

  <div id="train"><%= image_tag 'train.png' %></div>
  <div id="plane"><%= image_tag 'plane.png' %></div>
  <div id="car"><%= image_tag 'car.png' %></div>
</div>



<div id="instructions">




<div class="instruction sweden-plane">
  <% if current_page.options[:locale]== :fr then %>
      <p>
      Si vous partez de Copenhague ou de Stockholm, il faut vous rendre à Paris. 5 lignes régulières font la liaison avec la France.
      Pour atterrir à Roissy-Charles de Gaulle, il y a :
      <ul>
            <li> <a href="http://www.easyjet.fr/">EasyJet</a> </li>
            <li> <a href="http://www.flysas.fr/">SAS</a> </li>
            <li> <a href="http://www.airfrance.fr/">Air France</a> </li>
            <li> <a href="http://www.vueling.fr/">Vueling</a> </li>
      </ul>
      Pour atterrir à Orly (terminal Sud), il y a <a href="https://www.norwegian.com/fr/">Norwegian</a>.
      </p>


    <p>Après il vous faudra vous déplacer en voiture (de préférence) ou en train jusqu’au lieu de réception.
      <ul>
        <li>Depuis Roissy, comptez 2h en transports en commun ou 1h20 (minimum, plus s'il y a des embouteillages) en voiture.</li>
        <li>Depuis Orly, comptez 2h en transports en commun ou 1h (minimum, plus s'il y a des embouteillages) en voiture.</li>
      </ul>
    </p>

    <p>
      Pour visualiser l’itinéraire en voiture, vous pouvez utiliser <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
    </p>
    <p>
      Si vous venez en train, vous pouvez utiliser le site de la <a href="http://www.ratp.fr/">RATP</a>.
      Attention, comme il y a quelques kilomètres entre la gare et la mairie puis entre la mairie et le moulin, mieux vaut avoir une voiture sur place. Vous pouvez en louer une à l'aéroport ou vous organiser pour faire du covoiturage. Vous pouvez consulter la liste des loueurs de voitures sur le site d'<a href="http://www.parisaeroport.fr/passagers/acces/location-voiture">aéroports de Paris</a>.
    </p>

 <% elsif current_page.options[:locale]== :se then %>


      <p>
        Om ni reser från Stockholm eller Köpenhamn bör ni flyga med någon av fem följande bolagen som har reguljärflyg.
        För att landa  på Roissy-Charles de Gaulle flyger man med:
        <ul>
              <li> <a href="http://www.easyjet.fr/">EasyJet</a> </li>
              <li> <a href="http://www.flysas.fr/">SAS</a> </li>
              <li> <a href="http://www.airfrance.fr/">Air France</a> </li>
              <li> <a href="http://www.vueling.fr/">Vueling</a> </li>
        </ul>
        För att landa på Orly (söder terminal) flyger man med <a href="https://www.norwegian.com/fr/">Norwegian</a>.
        </p>


      <p>
        Sedan kan du antingen använda kollektivtrafik eller hyra en bil för att ta dig till mottagningen.
        <ul>
          <li>Från Roissy-Charles de Gaulle tar det ca 2 timmar kollektivtrafik eller 1 timme och 30 minuter (minimum, mer om det är mycket trafik) med bil.</li>
          <li>Från Orly tar det ca 2 timmar kollektivtrafik eller 1 timme (minimum, mer om det är mycket trafik) med bil.</li>
        </ul>
      </p>

      <p>
        För att se vägbeskrivningen om ni kommer med bil använd <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
      </p>
      <p>
        Om du väljer att resa med kollektivtrafik kan du få mer information här: <a href="http://www.ratp.fr/">RATP</a> to see the itinerary and the schedule.
      </p>

 <% else %>

    <p>
      If you come from Stockholm or Copenhagen, you have to fly to Paris. Five companies have regular flights to France.
      To land at Roissy-Charles de Gaulle, there are:
      <ul>
            <li> <a href="http://www.easyjet.fr/">EasyJet</a> </li>
            <li> <a href="http://www.flysas.fr/">SAS</a> </li>
            <li> <a href="http://www.airfrance.fr/">Air France</a> </li>
            <li> <a href="http://www.vueling.fr/">Vueling</a> </li>
      </ul>
      Only <a href="https://www.norwegian.com/fr/">Norwegian</a> lands in Orly airport (south terminal).
      </p>


    <p>
      Then, you will have to take a car or catch the train to the wedding venue.
      <ul>
        <li>From Roissy-Charles de Gaulle, it will take around 2h with public transportation or 1h30 by car (minimum, more if there is traffic).</li>
        <li>From Orly, it will take around 2h with public transportation or 1h by car (minimum, more if there is traffic).</li>
      </ul>
    </p>

    <p>
      To visualize the car itinerary, you can use <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
    </p>
    <p>
      If you choose public transportation, you can use this website: <a href="http://www.ratp.fr/">RATP</a> to see the itinerary and the schedule.
      Please note that since there are a couple of kilometers between the train station and the city hall and then between the city hall and the place we will eat, it is probably easier to have a car on the wedding day. It is possible to rent one car in the airport. Else you can carpool. You have the list of all rental companies on <a href="http://www.parisaeroport.fr/en/passengers/access/car-rental">Paris airports webpage</a> 
    </p>

  <% end %>
</div>



<div class="instruction sweden-train">
  <% if current_page.options[:locale]== :fr then %>
      <p>
          Non, vraiment, nous ne pensons pas que ce soit la meilleure idée. Il y aura au moins un changement au Danemark, deux en Allemagne et deux en France et vingt heures de trajet si tout se passe au mieux.
          C’est une mauvaise idée.
      </p>

      </p>
           On vous conseille vivement de prendre l'avion. C'est plus rapide et pas forcément plus cher.
      </p>

 <% elsif current_page.options[:locale]== :se then %>
   <p>
       Nej, detta är ingen bra idé!
       Du kommer minst att behöva göra ett byte i Danmark, två i Tyskland och två i Frankrike. Resan kommer minst att ta tjugo timmar om allt går som planerat. Va beredd på att tågen sällan håller tiderna i Frankrike.
   </p>

   </p>
      Vi rekommenderar att ni tar flyget istället. Det är snabbare och inte mycket dyrare.
   </p>

 <% else %>

      <p>
          Nope, really we don't think it is the best decision you can take. You will have to change train once in Denmark, twice in Germany and twice in France, at least. And it will take more than twenty hours, if everything goes right. (And French trains are rarely in time, be prepared).
          That is a bad idea.
      </p>

      </p>
           We recommend you to take the plane. That's faster and no necessarly more expensive.
      </p>

  <% end %>
</div>



<div class="instruction sweden-car">
  <% if current_page.options[:locale]== :fr then %>
      <p>
          Vraiment ? Super idée ce roadtrip ! Vous pourrez visiter de beaux pays sur le chemin et faire un comparatif entre la saucisse suédoise, danoise, allemande et alsacienne ! Yum ! Gardez quand même un peu de place dans votre estomac pour notre dîner de noces.
      </p>

      </p>
          Prévoyez de partir la veille au minimum car il y a quand même mille trois cents kilomètres entre Malmö et Varennes-Jarcy.
          Vous pouvez préparer votre itinéraire sur <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
      </p>

 <% elsif current_page.options[:locale]== :se then %>
   <p>
       Verkligen? Det kan vara en väldigt fin resa, och du kan passa på att se vem som har bäst korv: Sverige, Danmark, Tyskland eller Frankrike. Men spara lite plats till festen !
   </p>

   </p>
      Om du vill resa med bil så planera att åtminstone åka dagen före bröllopet eftersom det är 130 mil mellan Malmö och Varennes-Jarcy.
      Du kan hitta vägbeskrivningen på <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
   </p>

 <% else %>

      <p>
          Really ? That can be a nice roadtrip. And you can use that to define who has the best sausage: Sweden, Denmark, Germany or France. But keep some space in your stomach for our wedding diner !
      </p>

      </p>
           If it is your choice, plan to leave Sweden at least a day before the wedding since there is 1300 kilometers between Malmö and Varennes-Jarcy.
           You can plan your itinerary on <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
      </p>

  <% end %>
</div>



<div class="instruction france-plane">
  <% if current_page.options[:locale]== :fr then %>
      <p>
         L’aéroport le plus proche est celui d’Orly, qui est situé au sud de Paris (à 1h en voiture ou 2h en transports en commun). Sinon, il y a aussi l'aéroport de Roissy-Charles de Gaulle, au nord de Paris (à 1h30 en voiture ou 2h en transports en commun).
      </p>
      <p>
          Parmi les compagnies désservant ces aéroports, il y a:
      <ul>
            <li> <a href="http://www.easyjet.fr/">EasyJet</a> </li>
            <li> <a href="https://www.norwegian.com/fr/">Norwegian</a> </li>
            <li> <a href="http://www.airfrance.fr/">Air France</a> </li>
            <li> <a href="http://www.hop.com/">HOP!</a> </li>
      </ul>
      </p>
      <p>
          Après il vous faudra vous déplacer en train ou en voiture jusqu’au lieu de réception.
      </p>
     <p>
      Pour visualiser l’itinéraire en voiture, vous pouvez utiliser <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
      Si vous venez en train, vous pouvez utiliser le site de la <a href="http://www.ratp.fr/">RATP</a>.
    </p>
     <p>
      Attention, comme il y a quelques kilomètres entre la gare et la mairie puis entre la mairie et le moulin, mieux vaut avoir une voiture sur place. Vous pouvez en louer une à l'aéroport ou vous organiser pour faire du covoiturage. Vous pouvez consulter la liste des loueurs de voitures sur le site d'<a href="http://www.parisaeroport.fr/passagers/acces/location-voiture">aéroports de Paris</a>. 
    </p>

 <% elsif current_page.options[:locale]== :se then %>
   <p>
       Troligtvis vet du redan (och förstår troligtvis också Franska! :-) att den närmaste flygplatsen är Orly, söder om Paris (minst 1 timme via bil eller 2 timmars via kollektivtrafik). Det finns även Roissy-Charles de Gaulles flygplatsen, norr om Paris (1,5 timmar med bil eller 2 timmar med kollektivtrafik).
   </p>
   <p>
     Här är en lista av flygbolag som flyger till Paris.
   <ul>
         <li> <a href="http://www.easyjet.fr/">EasyJet</a> </li>
         <li> <a href="https://www.norwegian.com/fr/">Norwegian</a> </li>
         <li> <a href="http://www.airfrance.fr/">Air France</a> </li>
         <li> <a href="http://www.hop.com/">HOP!</a> </li>
   </ul>
   </p>
   <p>
      Sen behöver du åka bil eller kollektivtrafik för att komma till staden där mottagningen kommer att vara.
   </p>
  <p>
   För vägbeskrivning med bil se <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
   För att ta kollektivtrafik se <a href="http://www.ratp.fr/">RATP</a>.
  </p>

 <% else %>

      <p>
          I guess that you already know that there are two airports in Paris (and coming from France you ight even speak French! :-). The closest airport is Orly, in the south of Paris (1h driving or 2h with public transportaition). Else, there is also Roissy-Charles de Gaulles airport, north of Paris (1h30 driving or 2h with public transportaition).
      </p>
      <p>
          You can find below some of the airlines that are desserving Paris.
      <ul>
            <li> <a href="http://www.easyjet.fr/">EasyJet</a> </li>
            <li> <a href="https://www.norwegian.com/fr/">Norwegian</a> </li>
            <li> <a href="http://www.airfrance.fr/">Air France</a> </li>
            <li> <a href="http://www.hop.com/">HOP!</a> </li>
      </ul>
      </p>
      <p>
          After, you will have to take a car or use public transportation to go to the wedding city.
      </p>
    <p>
      To visualize the car itinerary, you can use <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
      If you choose public transportation, you can use this website: <a href="http://www.ratp.fr/">RATP</a> to see the itinerary and the schedule.
    </p>
      <p>
      Please note that since there are a couple of kilometers between the train station and the city hall and then between the city hall and the place we will eat, it is probably easier to have a car on the wedding day. It is possible to rent one car in the airport. Else you can carpool. You have the list of all rental companies on <a href="http://www.parisaeroport.fr/en/passengers/access/car-rental">Paris airports webpage</a> 

    </p>

  <% end %>
</div>


<div class="instruction france-car">
  <% if current_page.options[:locale]== :fr then %>
     <p>
          Varennes-Jarcy est une petite commune, à 25 kilomètre au sud de Paris,  à la limite de l'Essone et du Val de Marne.
     </p>
     <p>
      Pour visualiser l’itinéraire en voiture, vous pouvez utiliser <a href="https://www.google.se/maps/place/Mairie+de+Varennes-Jarcy/">google maps</a>.
    </p>
      <p>
          Il y a un parking juste derrière la mairie et un autre attenant au moulin.
      </p>

 <% elsif current_page.options[:locale]== :se then %>

   <p>
       Varennes-Jarcy är en liten by, 25 kilometer söder om Paris.
   </p>
   <p>
       För körbeskrivningar se <a href="https://www.google.se/maps/place/Mairie+de+Varennes-Jarcy/">google maps</a>.
   </p>
   <p>
     Det finns parkering i närheten av stadshuset och även in härheten av Moulin de Jarcy där mottagningen är.
   </p>

 <% else %>

      <p>
          Varennes-Jarcy is a small city, 25 kilometers south of Paris.
      </p>
      <p>
          To visualize the car itinerary, you can use <a href="https://www.google.se/maps/place/Mairie+de+Varennes-Jarcy/">google maps</a>.
      </p>
      <p>
          There is a parking close to the city hall and another one next to the Moulin de Jarcy.
      </p>

  <% end %>
</div>



<div class="instruction france-train">
  <% if current_page.options[:locale]== :fr then %>
     <p>
          Il n'y a pas de gare à Varennes-Jarcy mais il y en a une de RER dans la ville limitrophe de Boussy-saint-Antoine (ligne D, zone 5).
          Les gares parisiennes desservies par la ligne D sont Paris-gare de Lyon, Châtelet-les halles et Paris-gare du nord.
     </p>
     <p>
          Pour consulter votre itinéraire en RER, vous pouvez utiliser le site de la <a href="http://www.ratp.fr/">RATP</a>.
     </p>
     <p>
          Si vous venez de province, il vous faudra d'abord rejoindre une gare SNCF parisienne. Vous trouverez les horaires sur le site de la <a href="http://www.sncf.fr/">SNCF</a>.
     </p>
     <p>
      Attention, comme il y a quelques kilomètres entre la gare et la mairie puis entre la mairie et le moulin, mieux vaut avoir une voiture sur place. Vous pouvez en louer une à l'aéroport ou vous organiser pour faire du covoiturage. Vous pouvez consulter la liste des loueurs de voitures sur le site d'<a href="http://www.parisaeroport.fr/passagers/acces/location-voiture">aéroports de Paris</a>.
    </p>


 <% elsif current_page.options[:locale]== :se then %>

 <p>
      Det finns ingen långdistans tågstation i Varennes-Jarcy men det finns en RER (regional public train) station i närheten av staden Boussy-saint-Antoine (linje D).
      Tåget från linje D stannar i Paris på stationerna: Paris-gare de Lyon, Châtelet-les halles och Paris-gare du nord.
 </p>
 <p>
    För RER tidtabeller se : <a href="http://www.ratp.fr/en/">RATP</a>.
 </p>
 <p>
    Om du inte anländer från Paris behöver du först ta ett långdistans tåg till någon av Paris SNCF tågstationer. Du hittar tidtabeller på : <a href="http://www.sncf.fr/">SNCF</a>.
 </p>

 <% else %>

     <p>
          There is no train station in Varennes-Jarcy but there is a RER (regional public train) station in the close city of Boussy-saint-Antoine (line D).
          The train from line D also stops in Paris in stations: Paris-gare de Lyon, Châtelet-les halles and Paris-gare du nord.
     </p>
     <p>
          To see the RER itinerary with RER, you can use this website : <a href="http://www.ratp.fr/en/">RATP</a>.
     </p>
     <p>
          If you are not coming from Paris region, you will have to catch first a long distance train to one of the Paris SNCF train station. You can find the train schedules on the website: <a href="http://www.sncf.fr/">SNCF</a>.
     </p>
      <p>
      Please note that since there are a couple of kilometers between the train station and the city hall and then between the city hall and the place we will eat, it is probably easier to have a car on the wedding day. It is possible to rent one car in the airport. Else you can carpool. You have the list of all rental companies on <a href="http://www.parisaeroport.fr/en/passengers/access/car-rental">Paris airports webpage</a> 


    </p>

  <% end %>
</div>


<div class="instruction world-train">
  <% if current_page.options[:locale]== :fr then %>
     <p>
          Vraiment ??!! Pourquoi vous infliger un tel périple? Bien sûr que les voyages en train ça fait rêver. Mais je ne suis pas sûr que ce trajet là soit aussi excitant que sur l'Orient Express ou aussi beau qu'avec le Transsibérien.
     </p>

     <p>
          Nous vous conseillons plutôt l'avion.
     </p>

 <% elsif current_page.options[:locale]== :se then %>

 <p>
      Verkligen ??!! Varför vill du göra så mot dig själv ? Såklart har vi alla drömmar om överdådiga tågresor, men det är troligtvis inte så att din resa blir lika spännande som Orientexpressen eller så vacker som Transsibiriska järnvägen.
 </p>
 <p>
      Vi tror nog det är en bättre idé att ta flyget.
 </p>

 <% else %>

     <p>
          Really ??!! Why do you want to infligate that to yourself ? Of course, we all have in mind some great travel by train. But, it is quite unlikely that your journey will be as exciting as the Orient express or as beautiful as the Transsiberian.
     </p>
     <p>
          We think it would be a better idea to come by plane.
     </p>

  <% end %>
</div>




<div class="instruction world-plane">
  <% if current_page.options[:locale]== :fr then %>
      <p>
      Les deux aéroports les plus proches sont Paris-Orly et Roissy-Charles de Gaulle. Il sont desservis par de nombreuses compagnie aériennes.
Pour trouver les vols les moins chers vous pouvez utiliser le comparateur de prix <a href="https://www.google.fr/flights/">Google Flights</a>
      </p>


    <p>Après il vous faudra vous déplacer de préférence en voiture ou alors en train jusqu’au lieu de réception.
      <ul>
        <li>Depuis Roissy, comptez 2h en transports en commun ou 1h20 (minimum, plus s'il y a des embouteillages) en voiture.</li>
        <li>Depuis Orly, comptez 2h en transports en commun ou 1h (minimum, plus s'il y a des embouteillages).</li>
      </ul>
    </p>

    <p>
      Pour visualiser l’itinéraire en voiture, vous pouvez utiliser <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
    </p>
    <p>
      Si vous venez en train, vous pouvez utiliser le site de la <a href="http://www.ratp.fr/">RATP</a>.
    </p>
     <p>
      Attention, comme il y a quelques kilomètres entre la gare et la mairie puis entre la mairie et le moulin, mieux vaut avoir une voiture sur place. Vous pouvez en louer une à l'aéroport ou vous organiser pour faire du covoiturage. Vous pouvez consulter la liste des loueurs de voitures sur le site d'<a href="http://www.parisaeroport.fr/passagers/acces/location-voiture">aéroports de Paris</a>.
    </p>

 <% elsif current_page.options[:locale]== :se then %>
      <p>
        Det finns två flygplatser i Paris som är i närheten av mottagningen: Paris-Orly och Roissy-Charles de Gaulle. Ett antal flygbolag har reguljärflyg till Paris. För att hitta det billigaste och smidigaste flygen kan du använda <a href="https://www.google.fr/flights/">Google Flights</a>
        </p>

      <p>
        Efter du anlänt via flyg är det enklast att hyra en bil eller att resa kollektivt till mottagningen.
        <ul>
          <li>Från Roissy tar det ca 2 timmar kollektivtrafik eller 1 timme och 30 minuter (minimum, mer om det är mycket trafik) med bil.</li>
          <li>Från Orly tar det ca 2 timmar kollektivtrafik eller 1 timme (minimum, mer om det är mycket trafik) med bil.</li>
        </ul>
      </p>

      <p>
        För att ser vägbeskrivningen om ni kommer med bil använd <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
      </p>
      <p>
        Om du väljer att resa med kollektivtrafik kan du få mer information här: <a href="http://www.ratp.fr/">RATP</a> to see the itinerary and the schedule.
      </p>


 <% else %>

    <p>
      There are two airports in Paris, close to the wedding venue: Paris-Orly and Roissy-Charles de Gaulle. Lots of airlines fly to Paris. To find most convenient and the cheapest flights, you can use <a href="https://www.google.fr/flights/">Google Flights</a>
      </p>


    <p>
      Then, you will have to rent a car (the best solution)  or to catch the train to the wedding venue.
      <ul>
        <li>From Roissy, it will take around 2h with public transportation or 1h30 by car (minimum, more if there is traffic).</li>
        <li>Depuis Orly, it will take around 2h with public transportation or 1h by car (minimum, more if there is traffic).</li>
      </ul>
    </p>

    <p>
      To visualize the car itinerary, you can use <a href="https://goo.gl/maps/wR51GxKxN8n">google maps</a>.
    </p>
    <p>
      If you choose public transportation, you can use this website: <a href="http://www.ratp.fr/">RATP</a> to see the itinerary and the schedule.
    </p>
      <p>
      Please note that since there are a couple of kilometers between the train station and the city hall and then between the city hall and the place we will eat, it is probably easier to have a car on the wedding day. It is possible to rent one car in the airport. Else you can carpool. You have the list of all rental companies on <a href="http://www.parisaeroport.fr/en/passengers/access/car-rental">Paris airports webpage</a> 
    </p>

  <% end %>
</div>



<div class="instruction world-car">
  <% if current_page.options[:locale]== :fr then %>
     <p>
          Nous ne savons pas d'où vous venez mais ça nous a l'air bien ambitieux !
     </p>
     <p>
          Si vous venez des continents asiatiques, africains, nous avons peur que ça ne soit un très long voyage. (Mais probablement un très beau, donc nous sommes volontaires pour une séance photo de votre roadtrip).
     </p>
     <p>
          Si vous habitez en Océanie ou aux Amériques, nous sommes intéressés par votre voiture amphibie ! Pourrons nous la tester après le mariage? La technlogie est impressionnante de nos jours.
     </p>
     <p>
      Afin de définir l'itinéraire exact de votre roadtrip, vous pouvez utiliser <a href="https://www.google.se/maps/place/Mairie+de+Varennes-Jarcy/">google maps</a>.
    </p>

<% elsif current_page.options[:locale]== :se then %>

   <p>
      Vi vet inte var ni reser från men det verkar som ett ambitiöst projekt!
   </p>
   <p>
      Om ni reser från den Asiatiska eller Afrikanska kontinenten blir det troligtvis en väldigt lång resa! Men det blir troligtvis en väldigt spännande resa så vi ser gärna lite bilden när ni kommer fram!
   </p>
   <p>
     Om ni reser från Oceanien eller den Amerikanska kontinenten vill vi gärna se er bil ! Vi kanske kan prova en tur efter ceremonin ? Tekniken har verkligen gått framåt.
   </p>
    <p>
        För att se vägbeskrivningen för er långa resa använd <a href="https://www.google.se/maps/place/Mairie+de+Varennes-Jarcy/">google maps</a>.
    </p>


 <% else %>

     <p>
          We don't know where you are coming from but it looks quite ambitious!
     </p>
     <p>
          If you come from Asian or African continents, we are afraid it will be a really long trip. (But it should also be a really exciting roadtrip, so we are looking forward to seeing your photos when you arrive.)
     </p>
     <p>
          If you are coming from Oceania or America continents, we want to see your amphibian car ! Can we try it after the ceremony ? Technology is so impressive nowdays.
     </p>
      <p>
          To visualize your long roadtrip itinerary, you can use <a href="https://www.google.se/maps/place/Mairie+de+Varennes-Jarcy/">google maps</a>.
      </p>

  <% end %>
</div>


</div> <!-- id instructions -->
