---
layout: "frontpage"
---

<div class="frontimages">
  <div><a href="https://photos.app.goo.gl/qJG5HIhR0RQD8Qnx1"><%= image_tag 'table_australie.jpg' %></a></div>
  <div><a href="https://photos.app.goo.gl/qJG5HIhR0RQD8Qnx1"><%= image_tag 'table_chine.jpg' %></a></div>
  <div><a href="https://photos.app.goo.gl/qJG5HIhR0RQD8Qnx1"><%= image_tag 'table_espagne.jpg' %></a></div>
  <div><a href="https://photos.app.goo.gl/qJG5HIhR0RQD8Qnx1"><%= image_tag 'table_kosovo.jpg' %></a></div>
  <div><a href="https://photos.app.goo.gl/qJG5HIhR0RQD8Qnx1"><%= image_tag 'table_portugal.jpg' %></a></div>
  <div><a href="https://photos.app.goo.gl/qJG5HIhR0RQD8Qnx1"><%= image_tag 'table_roumanie.jpg' %></a></div>
  <div><a href="https://photos.app.goo.gl/qJG5HIhR0RQD8Qnx1"><%= image_tag 'table_russie.jpg' %></a></div>
  <div><a href="https://photos.app.goo.gl/qJG5HIhR0RQD8Qnx1"><%= image_tag 'table_suede.jpg' %></a></div>
</div>

<div class="schedule">
  <h1><%= t(:horaires) %></h1>
  <div class="scheduleitem">
    <%= image_tag 'schedule1.png', :class => 'coeur' %>
    <p class="date">15h45</p>
    <p><%= t(:cityhall) %></p>
    <p><%= image_tag 'schedule_mairie.png' %></p>
  </div>
  <div class="scheduleitem">
    <%= image_tag 'schedule2.png', :class => 'coeur' %>
    <p><%= image_tag 'schedule_photo.png' %></p>
    <p class="date">16h30</p>
    <p><%= t(:photos) %></p>
  </div>
  <div class="scheduleitem">
    <%= image_tag 'schedule1.png', :class => 'coeur' %>
    <p class="date">18h00</p>
    <p><%= t(:cocktail) %></p>
    <p><%= image_tag 'schedule_cocktail.png' %></p>
  </div>
  <div class="scheduleitem">
    <%= image_tag 'schedule2.png', :class => 'coeur' %>
    <p><%= image_tag 'schedule_diner.png' %></p>
    <p class="date">20h00</p>
    <p><%= t(:dinner) %></p>
  </div>
</div>
