---
title: kommer snart
---

.wheretostay
  .images
    %div= image_tag 'ptisuedois.png'
  .text.center
    %p Hej,
    %p svensk översättning är inte klart just nu (men vi arbetar på den).
    %p
      Innan det funkar, du kan välja mellan engelsk eller fransk versioner.
      %br
      Om du vill hjälpa oss att översätta, kan du skriva till
      %a{:href => 'mailto:mariage@arnaudetemilie.fr'} mariage@arnaudetemilie.fr
    %p Vi ses snart!
    %p Emilie och Arnaud
  .images= image_tag 'renou.png'
