---
title: notre histoire
---

<div class="story">
  <a class="storylink" id="link2004" href="#2004"></a>
  <a class="storylink" id="link2004-2" href="#2004-2"></a>
  <a class="storylink" id="link2005" href="#2005"></a>
  <a class="storylink" id="link2007" href="#2007"></a>
  <a class="storylink" id="link2008" href="#2008"></a>
  <a class="storylink" id="link2011" href="#2011"></a>
  <a class="storylink" id="link2013" href="#2013"></a>
  <a class="storylink" id="link2016" href="#2016"></a>
</div>

<div class="storyItem" id="2004">
Nous nous sommes rencontrés à l'été 2004, au sein du "club ado" du VVF de La Colle sur Loup.
</div>

<div class="column storyItem" id="2004-2">
  <div class="wide">
    En septembre 2004, Emilie entamait sa dernière année de lycée pendant qu'Arnaud débutait une année de prépa. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2005.jpg", :width => "200px", :class => "view" %>
  </div>
</div>




<div class="column storyItem" id="2005">
  <div class="wide">
    En 2005, nous avons tous les deux commencé nos études d'ingénieur, l'un à Cergy-Pontoise,
    l'autre à Troyes. <br>
    Il n'y avait que les fins de semaines et les vacances que nous passions ensemble sur Paris. Nous participions aussi aux galas de nos écoles respéctives. <br>
  </div>
  <div class="narrow">
    <%= image_tag "Photo_gala_2005_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2006.jpg", :width => "200px", :class => "view"%>
  </div>
</div>

<div class="column storyItem" id="2007">
  <div class="wide">
    En 2007, nous sommes partis faire six mois d'études en Suède dans le cadre du programme Erasmus.<br>
    Nous découvrions Malmö et Lund ainsi que la vie à deux pour la première fois.<br>
  </div>
  <div class="narrow">
    <%= image_tag "2007.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2008">
  <div class="wide">
    Malheureusement au début de l'année 2008, Emilie est retournée en France pour finir ses études
    tandis qu'Arnaud a trouvé du travail en Suède. Nous nous retrouvions à chaque vacances, en France ou en Suède. <br>
    C'était aussi l'année de notre croisière en Scandinavie. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2009_Norway_3_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2009_Angers_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2011">
  <div class="wide">
    Après deux années et demi séparés, nous nous sommes retrouvés en Suède.<br>
    Notre premier appartement était à Landskrona. Nous en profitions pour aller faire du vélo à Ven et visiter un peu la Suède. <br>
    C'était aussi le début des cours de suédois et du projet "copter".<br>
  </div>
  <div class="narrow">
    <%= image_tag "2011_Stockholm_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2010_Ven_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2013">
  <div class="wide">
    Une fois que nous avons tous les deux eu un travail stable à Malmö, nous y avons emménagé en 2013.<br>
    Et en même temps, nous nous sommes rapprochés de l'aéroport, de la France... et des voyages à l'étranger. <br>
    Pour les 30 ans d'Arnaud, en 2014, nous sommes partis aux Etats-Unis. L'année d'après nous nous sommes envolés vers le Canada. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2014_USA_1_petite.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2015_Canada_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2016">
  <div class="wide">
    De retour en Amérique, à l'été 2016, c'est lors d'un lever de soleil devant les paysages magnifiques de l'Utah, que nous avons décidé de nous marier. Quoi de plus romantique ? <br>
  </div>
  <div class="narrow">
    <%= image_tag "2016_USA_1_petit.jpg", :width => "200px", :class => "view" %>
  </div>
</div>
