---
title: notre histoire
---

<div class="story">
  <a class="storylink" id="link2004" href="#2004"></a>
  <a class="storylink" id="link2004-2" href="#2004-2"></a>
  <a class="storylink" id="link2005" href="#2005"></a>
  <a class="storylink" id="link2007" href="#2007"></a>
  <a class="storylink" id="link2008" href="#2008"></a>
  <a class="storylink" id="link2011" href="#2011"></a>
  <a class="storylink" id="link2013" href="#2013"></a>
  <a class="storylink" id="link2016" href="#2016"></a>
</div>

<div class="storyItem" id="2004">
We met during summer 2004, in the teen club of a "vacation village" in the south of France (close to Nice).
</div>

<div class="column storyItem" id="2004-2">
  <div class="wide">
In September 2004, Emilie was finishing high school while Arnaud was doing a preparatory class to engineering school.
We were both living near Paris at this time.
  </div>
  <div class="narrow">
    <%= image_tag "2005.jpg", :width => "200px", :class => "view" %>
  </div>
</div>



<div class="column storyItem" id="2005">
  <div class="wide">
    In 2005, we started studying in engineeing school. Arnaud studied electronics in the north of Paris. Emilie went 150 kilometers south of Paris, in Troyes, to study supply chain. <br>
    We were seing each other on weekends and holidays only, in Paris. <br>
    We were going every year to our school annual celebration parties. <br>
  </div>
  <div class="narrow">
    <%= image_tag "Photo_gala_2005_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2006.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2007">
  <div class="wide">
    In 2007, we moved to the south of Sweden to study for 6 months with Erasmus program. <br>
    We discovered Malmö and Lund. We also lived together for the first time. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2007.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2008">
  <div class="wide">
    Unfortunately in January 2008, Emilie had to go back to France to finish her studies. Arnaud, who found a job, stayed in Sweden. <br>
    We were meeting for each holidays in France or in Sweden. <br>
    That's also when we went on our second cruise, in  Scandinavia this time. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2009_Norway_3_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2009_Angers_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2011">
  <div class="wide">
    After two years and a half separated, we finally lived together in Sweden. <br>
    Our first flat was in Landskrona. Perfect city, to go biking in Ven island and visit even more Sweden. <br>
    It is also the beginning of our Swedish class and of the "copter" adventure. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2011_Stockholm_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2010_Ven_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2013">
  <div class="wide">
    Once we both had a job in Malmö, we decided to move in there in 2013. <br>
    It also a good excuse to be closer to the airport and so to France... and to all other countries. <br>
    When Arnaud turned thirty, we traveled to United States for a month to celebrate that. One year after, we went to Quebec for a city trip. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2014_USA_1_petite.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2015_Canada_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2016">
  <div class="wide">
    In front of a magnificent sunrise on a Utah gorge, in August 2016, we decided to get married. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2016_USA_1_petit.jpg", :width => "200px", :class => "view" %>
  </div>
</div>
