---
title: notre histoire
---

<div class="story">
  <a class="storylink" id="link2004" href="#2004"></a>
  <a class="storylink" id="link2004-2" href="#2004-2"></a>
  <a class="storylink" id="link2005" href="#2005"></a>
  <a class="storylink" id="link2007" href="#2007"></a>
  <a class="storylink" id="link2008" href="#2008"></a>
  <a class="storylink" id="link2011" href="#2011"></a>
  <a class="storylink" id="link2013" href="#2013"></a>
  <a class="storylink" id="link2016" href="#2016"></a>
</div>


<div class="storyItem" id="2004">
Vi träffades i en tonårsklubb under en semester sommaren 2014 i södra Frankrike (nära Nice).
</div>

<div class="column storyItem" id="2004-2">
  <div class="wide">
I sepetember 2014 avslutade Emilie gymnasiet medans Arnaud gick förberedande kurser inför ingenjörs-höskolan.
Under tiden bodde vi båda inärheten av varandra i Paris.
</div>
  <div class="narrow">
    <%= image_tag "2005.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2005">
  <div class="wide">
    Under 2015 började vi studera på ingenjörs-högskolan. Anrnaud studerade elektronik i norra Paris. Emilie flyttade 150 kilometer söderut till Troyes där hon studerade supply chain. <br>

    Vi träffades under helger och högtider i Paris. <br>
    Varje år gick vi på varandras årliga skolbaler. <br>
  </div>
  <div class="narrow">
    <%= image_tag "Photo_gala_2005_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2006.jpg", :width => "200px", :class => "view"%>
  </div>
</div>

<div class="column storyItem" id="2007">
  <div class="wide">
    Under 2007 kom vi till södra Sverige när vi studerade 6 månader i Erasmus programmet. <br>
    Vi upptäckte Malmö och Lund, och vi bodde tillsammans för första gången. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2007.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2008">
  <div class="wide">
    Tyvärr så va Emilie tvingad att åka tillbaka för att avsluta hennes studier i januari 2008.
    Arnaud, som hade jobb i Sverige, stannade kvar. <br>
    Under tiden träffades vi i Sverige eller Frankrike under semestrarna. <br>
    Det va även då vi åkte på vår andra kryssning, denna gången i Skandinavien. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2009_Norway_3_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2009_Angers_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2011">
  <div class="wide">
    Efter att ha varit isär under två och ett halvt år va äntligen tillsammans i Sverige igen. <br>
    Vår första lägenhet va i Landskrona. Perfekt timing för att cykla på Ven och att se mer av Sverige. <br>
    Det va även nu vi började läsa svenska och "copter" äventyret. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2011_Stockholm_petit.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2010_Ven_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2013">
  <div class="wide">
    Eftersom vi båda hade jobb i Malmö bestämde vi oss för att flyttat dit 2013. <br>
    Det va även ett pluss att vara närmre flygplatsen och då Frankrike...men även hela världen. <br>
    När Arnaud fyllde trettio åkte vi en månad till USA för att fira. Ett år efter vid denna tiden åkte vi till Quebec. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2014_USA_1_petite.jpg", :width => "200px", :class => "view" %>
    <%= image_tag "2015_Canada_petite.jpg", :width => "200px", :class => "view" %>
  </div>
</div>

<div class="column storyItem" id="2016">
  <div class="wide">
    Framför en magnifik soluppgång i Utah klyftan, i augusti 2016, besultade vi att gifta oss. <br>
  </div>
  <div class="narrow">
    <%= image_tag "2016_USA_1_petit.jpg", :width => "200px", :class => "view" %>
  </div>
</div>
