---
title: photos
---

:ruby
  galleries = {
    preparation: ["https://photos.app.goo.gl/hz8Ypu391OCT00ML2", [2,6,7,8,9,10,1,3,4,5]],
    city_hall: ["https://photos.app.goo.gl/aRLn1V4kPkYi6ckx2", (1..10)],
    group: ["https://photos.app.goo.gl/4vP2yDCsIvMcgGIv2", (1..10)],
    cocktail: ["https://photos.app.goo.gl/rYKtYD3mLiaWzCBE2", (1..10)],
    party: ["https://photos.app.goo.gl/tBKsFYcsHCIFy5cT2", (1..12)],
    us: ["https://photos.app.goo.gl/NYiIvIpZxdB18Z8r2", (1..10)],
  }

%p= t("thanks photo")

.menu.photomenu
  - galleries.keys.each do |name|
    = partial :menuitem, :locals => { :text => t(name), :link => "##{name}", :wide => false}


- galleries.each do |name, data|
  .photo-group{id: name}
    .album_button.center
      %a.button{href: data[0]}
        = t("Complete album for") + " " + t("#{name}").downcase

    .photos
      - data[1].each do |i|
        = image_tag "photos/#{name}-#{i}.jpg"
