---
title: les lieux
---

<div class="venue">
  <h1><%= t(:mairie) %></h1>
  <%= image_tag 'mairie3.jpg' %>
  <p>
    place Aristide Briand<br>
    91480 Varennes-Jarcy<br>
    France<br>
  </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1034.1240828292723!2d2.5606036344058483!3d48.67901483326171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19dd98c8ebb28bbf!2sMairie+de+Varennes-Jarcy!5e0!3m2!1sen!2sse!4v1490467863348" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="venue">
  <h1>Le moulin de Jarcy </h1>
  <%= image_tag 'moulin.jpg' %>
  <p>
    50 rue Boieldieu<br>
    91480 Varennes-Jarcy<br>
    France<br>
  </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1107.4957402284924!2d2.541488837113634!3d48.68476573262592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67dff40d74a858c9!2sMoulin+de+Jarcy!5e0!3m2!1sen!2sse!4v1490467299138" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
