---
title: ou dormir
---

.wheretostay
  .images
    %div
      = image_tag 'dormirpage1.png', :height=>"90px"
    %div
      = image_tag 'dormirpage2.png', :height=>"90px"
  .text
    = partial "stay"
  .images
    %div
      = image_tag 'dormirpage3.png', :height=>"90px"
    %div
      = image_tag 'dormirpage4.png', :height=>"90px"
